[submodule "googletest"]
	path = third_party/googletest
	url = https://github.com/Alexhuszagh/googletest
[submodule "warnings"]
	path = third_party/warnings
	url = https://github.com/Alexhuszagh/warnings.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Alexhuszagh/rapidjson
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://github.com/Alexhuszagh/libxml2
[submodule "third_party/multi_index"]
	path = third_party/multi_index
	url = https://github.com/Alexhuszagh/multi_index.git
[submodule "third_party/re2"]
	path = third_party/re2
	url = https://github.com/Alexhuszagh/re2.git
