[submodule "googletest"]
	path = third_party/googletest
	url = https://github.com/Alexhuszagh/googletest
[submodule "warnings"]
	path = third_party/warnings
	url = https://github.com/Alexhuszagh/warnings.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Alexhuszagh/rapidjson
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://github.com/Alexhuszagh/libxml2
[submodule "third_party/multi_index"]
	path = third_party/multi_index
	url = https://github.com/Alexhuszagh/multi_index.git
[submodule "third_party/re2"]
	path = third_party/re2
	url = https://github.com/Alexhuszagh/re2.git
[submodule "third_party/c-blosc"]
	path = third_party/c-blosc
	url = https://github.com/Alexhuszagh/c-blosc
[submodule "third_party/xz"]
	path = third_party/xz
	url = https://github.com/Alexhuszagh/xz
[submodule "third_party/bzip2"]
	path = third_party/bzip2
	url = https://github.com/Alexhuszagh/bzip2
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/Alexhuszagh/zlib
[submodule "third_party/libdynd"]
	path = third_party/libdynd
	url = https://github.com/Alexhuszagh/libdynd
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/Alexhuszagh/benchmark
